@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  --dark: #2c2c2c;
  --light: #f4ebd9;
  --background: #52504f;
  --blue: #23bfff;
}

body {
  background-color: var(--dark);
  margin: 0;
  font-family: 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

#app {
  text-align: center;
}

h2,
h4,
p {
  color: var(--light);
}

h2 {
  margin-top: 20px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

label {
  cursor: pointer;
  position: relative;
  margin: 10px;
}

input[type='radio'] {
  opacity: 0;
  position: absolute;
}

input[type='radio'] + span {
  font-size: 24px;
  color: var(--light);
  border-radius: 10%;
  padding: 12px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

input[type='radio'] + span.text {
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
}

input[type='radio']:checked + span {
  color: var(--blue);
  background-color: var(--background);
}

button {
  font-size: 0.9em;
  margin-top: 25px;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

button:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.ships {
  margin: 20px;
  display: block;
}

.ship-orientation {
}

.container {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  height: 500px;
  border: 1px solid var(--background);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.ocean {
  border: 1px solid var(--background);
  width: 100%;
  height: 100%;
}

.occupied {
  background-color: var(--blue);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light);
  }
  h2,
  p {
    color: var(--dark);
  }
}
